<a href="https://colab.research.google.com/github/Dee-M123/lab-py-list-operations/blob/master/list_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LAB | Python List Operations

This notebook provides an overview of various operations you can perform with Python lists, including accessing, modifying, and managing list items.

## Accessing List Items
To access an item in a list, use its index. Python uses zero-based indexing, meaning the first item is at index 0.

In [ ]:
my_list = ['apple', 'banana', 'cherry']
print(my_list)  # Outputs: 'apple', 'banana', 'cherry'

['apple', 'banana', 'cherry']

### Exercise 1
Given the following list, print the third item from the list.

In [2]:
fruits = ['grape', 'kiwi', 'orange', 'mango', 'pear']

print(fruits[2])

orange

## Changing List Items
You can change the value of a specific item by referring to its index.

In [ ]:
my_list = ['apple', 'banana', 'cherry']
my_list[1] = 'orange'
print(my_list)# Outputs: ['apple', 'orange', 'cherry']

['apple', 'orange', 'cherry']

To change multiple items, specify a range:

In [ ]:
my_list[1:3] = ['kiwi', 'mango']
print(my_list)  # Outputs: ['apple', 'kiwi', 'mango']

['apple', 'kiwi', 'mango']

### Exercise 2
Given the following list, change the second color to "yellow" and print the updated list.

In [3]:
colors = ['red', 'blue', 'green']
colors[1] = 'yellow'
print(colors)

['red', 'yellow', 'green']

## Replacing Values in a List
To replace values in a list, you can assign new values to specific indices or ranges.

In [ ]:
my_list = ['apple', 'banana', 'cherry']
my_list = 'grape'
print(my_list)  # Outputs: ['grape', 'banana', 'cherry']

grape

### Exercise 3
Given the following list of numbers, replace the first number with 15 and print the updated list.

In [4]:
numbers = [10, 20, 30]
numbers[0] = 15
print(numbers)

[15, 20, 30]


## Appending Items to a List
To add an item to the end of a list, use the `append()` method.

In [ ]:
my_list = ['apple', 'banana']
my_list.append('cherry')
print(my_list)  # Outputs: ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

### Exercise 4
Given the following list of vegetables, append "spinach" to your list and print the updated list.

In [5]:
vegetables = ['carrot', 'broccoli']
vegetables.append("spinach")
print(vegetables)

['carrot', 'broccoli', 'spinach']



## Inserting Items to a List
To insert an item at a specific index without replacing existing values, use the `insert()` method.

In [ ]:
my_list = ['apple', 'banana']
my_list.insert(1, 'orange')
print(my_list)  # Outputs: ['apple', 'orange', 'banana']

['apple', 'orange', 'banana']

### Exercise 5
Given the following list of animals, insert "hamster" at the second position and print the updated list.

In [6]:
animals = ['dog', 'cat', 'rabbit']
animals.insert(1, "hamster")
print(animals)

['dog', 'hamster', 'cat', 'rabbit']

## Extending Items to a List

In [ ]:
my_list = ['apple', 'banana']
my_list.extend(['cherry', 'date'])
print(my_list)  # Outputs: ['apple', 'banana', 'cherry', 'date']

['apple', 'banana', 'cherry', 'date']



### Exercise 6
Given two lists of numbers below, extend `list1` with `list2` and print the resulting list.

In [12]:
list1 = [1, 2, 3]
list2 = [4, 5]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5]

## Removing an Item from a List
To remove an item by value, use the `remove()` method. To remove an item by index, use `pop()`, which also returns the removed item.

In [ ]:
my_list = ['apple', 'banana', 'cherry']
my_list.remove('banana')
print(my_list)  # Outputs: ['apple', 'cherry']

removed_item = my_list.pop(0)
print(removed_item)  # Outputs: apple
print(my_list)       # Outputs: ['cherry']

['apple', 'cherry']
apple
['cherry']

### Exercise 7
Given the following list of colors, remove "green" by name and then remove another color by index. Print the updated list after each removal.

In [19]:
colors = ['red', 'blue', 'green', 'yellow']
colors.remove("green")
print(colors)

r_color = colors.pop(2)
print(r_color)
print(colors)

['red', 'blue', 'yellow']
yellow
['red', 'blue']

## Clearing an Entire List
To remove all items from a list, use the `clear()` method.

In [ ]:
my_list.clear()
print(my_list)  # Outputs: []

[]

### Exercise 8
Given the following list of numbers, clear your list and print it to confirm it's empty.

In [21]:
numbers = [1, 2, 3, 4, 5]
numbers.clear()
print(numbers)

[]

## List Length
To find out how many items are in a list, use the `len()` function.

In [ ]:
my_list = [1, 2, 3]
length_of_list = len(my_list)
print(length_of_list)  # Outputs: 3

3

### Exercise 9
Given the following list of fruits, print its length.

In [22]:
fruits = ['apple', 'banana', 'cherry', 'date']
len(fruits)

4

## Sorting a List
To sort items in a list in ascending order (or descending), use the `sort()` method or `sorted()` function.

In [ ]:
my_list = [3, 1, 2]
my_list.sort()
print(my_list)  # Outputs: [1, 2, 3]

[1, 2, 3]

### Exercise 10
Given the following unsorted list of numbers, sort it and print the result.

In [23]:
numbers = [5, 3, 8, 6]
numbers.sort()
print(numbers)

[3, 5, 6, 8]

## The range() Function
The `range()` function generates a sequence of numbers. It can be used to create lists of numbers easily.

In [ ]:
number_range = list(range(5))
print(number_range)  # Outputs: [0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]

### Exercise 11
Create a list of numbers from 0 to 9 using `range()`, then print it.

In [26]:
my_range = list(range(10))
print(my_range)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]


## Simple Statistics
You can calculate simple statistics like sum and average using built-in functions on lists.

In [ ]:
numbers = [10, 20, 30]
total_sum = sum(numbers)
average_value = total_sum / len(numbers)
print(average_value)   # Outputs: 20.0

20.0

### Exercise 12
Given this list of scores below calculate and print their average:

In [28]:
scores = [85, 90, 78]
score_sum = sum(scores)
score_average = score_sum / len(scores)
print(score_average)

84.33333333333333

## Slicing a List
You can access parts of lists using slicing.

In [ ]:
my_list = [1, 2, 3, 4]
sliced_part = my_list[1:3]
print(sliced_part)   # Outputs: [2, 3]

[2, 3]

### Exercise 13
Using slicing on this given list below extract and print elements from index position one to three:

In [33]:
items = ['a', 'b', 'c', 'd']
print(items[1:99])

['b', 'c', 'd']

## Copying a List
To create a copy of a list without referencing it directly (to avoid changes affecting both), use slicing or `copy()` method.

In [ ]:
original_list = [1 ,2 ,3]
copied_list = original_list[:]
print(copied_list)   # Outputs: [1 ,2 ,3]

[1, 2, 3]

### Exercise 14
Copy this given list below into another variable and print both lists:

In [34]:
original_items = [10 ,20 ,30]
new_items = original_items[:]
print(new_items)

[10, 20, 30]